 * {
    box-sizing: border-box;
}
body{
	background-image: url('../image/uttamdey-tt.jpg');
	font-family: sans-serif;
	/* background-repeat: no-repeat; */
}
.navbar{
	background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5));
	width:100%;
	position: fixed;
    left: 0px;
	top: 0px;
	height: 82px;
}

.logo{
	text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 600;
    padding: 30px 30px;
    /* display: inline-block; */
}

.nav-menu{
	list-style-type: none;
	float: right;
    margin-right: 30px;
}

.nav-links{
	
    text-transform: uppercase;
    color: white;
    font-size: 14px;
    font-weight: bold;
    display: inline-block;
    padding: 20px;
}

.nav-links:hover{
	color:#ffad33;
}

.current{
	color:#ffad33;
}

.nav-left{
	width: 30%;
	float: left;
	margin-top: 30px;
}

.nav-right{
	float:right;
}

.nav-list{
    display: inline;
	
}

.content{
	text-align: center;
    color: white;
    text-transform: uppercase;
	padding-top: 17%;
}


.section-button{
	color: black;
    padding: 10px 25px;
    margin: 0px 5px;
    font-size: 15px;
    border: 3px solid white;
	font-weight: 700;
	background-color: transparent;
}
.section-button:hover{
	background: white;
}
